@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap");
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; }
  body .home-bg {
    float: right;
    position: absolute;
    right: 0; }

.main-container {
  padding: 0; }

.navigation li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4e4e4e;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .25s ease-in-out; }

.navigation li a:hover:before {
  transform: scaleX(1); }

.first-part-container {
  width: 100%;
  height: 1080px;
  background-image: url("../images/homebg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .first-part-container nav {
    width: 660px;
    height: 100px;
    margin-top: 70px;
    margin-left: 120px;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all .5s ease-in-out; }
    .first-part-container nav img {
      margin-right: 67px; }
    .first-part-container nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .first-part-container nav ul a {
        text-decoration: none;
        color: #4e4e4e;
        padding: 10px;
        box-sizing: border-box;
        margin-right: 71px;
        transition: all .25s ease-in-out;
        position: relative; }
        .first-part-container nav ul a:hover {
          color: black; }
  .first-part-container .navbg {
    background-color: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
  .first-part-container .navbar-mobile {
    display: none;
    transition: all .5s ease-in-out; }
  .first-part-container .nav-links {
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out !important; }
  .first-part-container .show-links {
    display: block !important;
    opacity: 1; }
  .first-part-container .icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 10px; }
    .first-part-container .icon .hamburger {
      width: 30px;
      height: 4px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: .5s; }
    .first-part-container .icon .hamburger::before, .first-part-container .icon .hamburger::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      background: #000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: .5s; }
    .first-part-container .icon .hamburger::before {
      width: 20px;
      top: -7px; }
    .first-part-container .icon .hamburger::after {
      width: 20px;
      top: 7px;
      right: 0; }
  .first-part-container .hamburger-on-click {
    color: white;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important; }
  .first-part-container .icon.active .hamburger::before {
    top: 0;
    width: 25px;
    left: 3px;
    transform: rotate(45deg);
    background-color: white; }
  .first-part-container .icon.active .hamburger::after {
    top: 0;
    width: 25px;
    right: 2px;
    transform: rotate(315deg);
    background-color: white; }
  .first-part-container .home-content {
    height: 910px;
    position: relative;
    top: 85px; }
    .first-part-container .home-content .left-content .section-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px; }
    .first-part-container .home-content .left-content .section1 label:nth-child(1) {
      font-family: "Roboto", sans-serif;
      font-weight: 200;
      font-size: 24px;
      margin: 0;
      padding: 0;
      position: relative;
      top: 10px; }
    .first-part-container .home-content .left-content .section1 h1 {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 72px;
      letter-spacing: 1px;
      position: relative;
      left: -3px; }
    .first-part-container .home-content .left-content .section1 label:nth-child(3) {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #4e4e4e;
      opacity: .7;
      position: relative;
      bottom: 10px; }
    .first-part-container .home-content .left-content .section2 {
      margin-top: 40px; }
      .first-part-container .home-content .left-content .section2 div {
        width: 300px;
        margin: 15px 0px; }
        .first-part-container .home-content .left-content .section2 div label {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          color: #4e4e4e;
          letter-spacing: 1px;
          margin: 0;
          padding: 0;
          margin-left: 15px; }
    .first-part-container .home-content .left-content .resume {
      margin-top: 40px; }
      .first-part-container .home-content .left-content .resume button {
        border: none;
        border-radius: 6px;
        background-color: #A58BD6;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 20px 40px;
        box-sizing: border-box;
        transition: .25s ease-in-out; }
        .first-part-container .home-content .left-content .resume button a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 1px; }
        .first-part-container .home-content .left-content .resume button:hover {
          background-color: #9079B7; }
    .first-part-container .home-content .right-content img {
      position: absolute;
      top: 10%;
      right: 20%;
      width: 800px; }
  .first-part-container .home-mobile {
    display: none; }

.second-part-container {
  width: 100%;
  height: 1080px;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .second-part-container .about-content {
    height: 980px;
    position: relative;
    top: 50px; }
    .second-part-container .about-content .left-content1 {
      display: flex;
      justify-content: center;
      align-items: center; }
    .second-part-container .about-content .right-content1 .about-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 700px; }
    .second-part-container .about-content .right-content1 section:nth-child(1) h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 0; }
    .second-part-container .about-content .right-content1 section:nth-child(2) {
      margin-top: 25px; }
      .second-part-container .about-content .right-content1 section:nth-child(2) p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 32px;
        color: #4e4e4e;
        font-weight: 400;
        margin-bottom: 0; }
    .second-part-container .about-content .right-content1 .section3 {
      margin-top: 45px;
      position: relative;
      left: -8px; }
  .second-part-container .stud {
    position: absolute;
    top: 1080px;
    right: 0;
    opacity: .6; }

.about-mobile {
  display: none; }

#flex-portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important; }

.third-part-container {
  width: 100%;
  background-image: url("../images/portfoliobg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .third-part-container .portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin: 20px 0px; }
    .third-part-container .portfolio-content .portfolio-title {
      margin-bottom: 40px; }
      .third-part-container .portfolio-content .portfolio-title h1 {
        font-family: "Roboto", sans-serif;
        font-size: 64px;
        font-weight: 700; }
    .third-part-container .portfolio-content .portfolio-works {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .third-part-container .portfolio-content .portfolio-works .box {
        width: 480px;
        height: 480px;
        background-color: #4e4e4e;
        position: relative;
        margin: 20px;
        box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1); }
        .third-part-container .portfolio-content .portfolio-works .box .to-works {
          height: 130px;
          width: 100%;
          background-color: rgba(170, 142, 216, 0.9);
          border-radius: 23px 23px 0px 0px;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 30px;
          box-sizing: border-box;
          transition: .25s; }
          .third-part-container .portfolio-content .portfolio-works .box .to-works:hover {
            background-color: #aa8ed8; }
          .third-part-container .portfolio-content .portfolio-works .box .to-works label {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: white;
            margin: 0;
            letter-spacing: 1px; }
          .third-part-container .portfolio-content .portfolio-works .box .to-works .arrow {
            transition: all .25s ease-in-out; }
            .third-part-container .portfolio-content .portfolio-works .box .to-works .arrow:hover {
              animation: shake .25s ease-in-out 0s 1 forwards normal; }
      .third-part-container .portfolio-content .portfolio-works .box:nth-child(1) {
        background-image: url("../images/mobile-web.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .third-part-container .portfolio-content .portfolio-works .box:nth-child(2) {
        background-image: url("../images/photog.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .third-part-container .portfolio-content .portfolio-works .box:nth-child(3) {
        background-image: url("../images/graphics.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }

@keyframes shake {
  0%,100% {
    transform: translateX(0); }
  25% {
    transform: translateX(10px); } }
.fourth-part-container {
  width: 100%;
  height: 400px;
  background-color: #a78dd6; }
  .fourth-part-container .footer-content {
    height: 300px;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .fourth-part-container .footer-content .to-email {
      background-color: white;
      border-radius: 18px;
      box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.3);
      width: 640px;
      height: 135px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .5s ease-in-out; }
      .fourth-part-container .footer-content .to-email label {
        font-family: "Roboto", sans-serif;
        font-size: 14px; }
      .fourth-part-container .footer-content .to-email h1 {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 700; }
    .fourth-part-container .footer-content .icons {
      display: flex;
      justify-content: space-around;
      width: 190px;
      height: 25px; }
    .fourth-part-container .footer-content .copyright h4 {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #4e4e4e;
      opacity: .9;
      letter-spacing: 1px;
      font-weight: 300; }

/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
@media (max-width: 575.98px) {
  .first-part-container {
    background: none !important;
    height: auto !important; }

  #navbar-container {
    display: none !important; }

  .navbar-mobile {
    display: flex !important;
    width: 100%;
    height: 70px;
    background-color: #FCFCFC;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 15; }
    .navbar-mobile .head {
      height: 100%;
      width: 100%; }
      .navbar-mobile .head img {
        margin: 3px 20px;
        width: 40px;
        position: fixed;
        top: 10px; }
    .navbar-mobile .nav-links {
      text-align: center;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0; }
      .navbar-mobile .nav-links ul {
        margin-bottom: 50px; }
      .navbar-mobile .nav-links li {
        margin-bottom: 25px; }
        .navbar-mobile .nav-links li a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0; }
          .navbar-mobile .nav-links li a:active {
            color: black; }
      .navbar-mobile .nav-links .infos {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        .navbar-mobile .nav-links .infos .br-line {
          width: 100%;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.3);
          margin: 5px 0px; }
        .navbar-mobile .nav-links .infos .other-info {
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: white;
          font-size: 12; }
        .navbar-mobile .nav-links .infos .info-child {
          text-align: left;
          margin: 0;
          padding: 5px 10px;
          box-sizing: border-box; }
          .navbar-mobile .nav-links .infos .info-child img {
            margin-right: 10px; }
          .navbar-mobile .nav-links .infos .info-child label {
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 1px; }

  .navbar-mobile-on {
    height: 100vh !important;
    background-color: #AA8ED8; }

  .home-content {
    display: none !important; }

  .home-mobile {
    display: block !important;
    margin-top: 80px; }
    .home-mobile img {
      position: relative;
      left: 50%;
      transform: translateX(-55%);
      margin: 100px 20px 30px 20px;
      width: 250px !important; }
    .home-mobile .section1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home-mobile .section1 label:nth-child(1) {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0;
        position: relative;
        top: 10px; }
      .home-mobile .section1 h1 {
        margin-bottom: 10px;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 48px;
        letter-spacing: 1px;
        position: relative;
        left: -3px; }
      .home-mobile .section1 label:nth-child(3) {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #4e4e4e;
        opacity: .7;
        position: relative;
        bottom: 10px; }
      .home-mobile .section1 button {
        border: none;
        border-radius: 6px;
        background-color: #A58BD6;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 15px 35px;
        box-sizing: border-box;
        transition: .25s ease-in-out;
        width: 300px;
        margin-top: 45px; }
        .home-mobile .section1 button a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 1px; }
        .home-mobile .section1 button:hover {
          background-color: #9079B7; }

  .second-part-container {
    display: none !important; }

  .about-content {
    display: none !important; }

  .about-mobile {
    display: block !important;
    position: relative !important;
    height: 800px !important; }
    .about-mobile .about-holder {
      width: 300px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 15px;
      box-sizing: border-box;
      margin-top: 50px; }
    .about-mobile section:nth-child(1) h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 0; }
    .about-mobile section:nth-child(2) {
      margin-top: 25px; }
      .about-mobile section:nth-child(2) p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 36px;
        color: #4e4e4e;
        font-weight: 400;
        margin-bottom: 0; }
    .about-mobile .section3 {
      margin-top: 45px;
      transform: scale(0.8); }

  .stud {
    display: none !important; }

  .third-part-container {
    width: 100%;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    .third-part-container .portfolio-title h1 {
      font-size: 40px !important; }
    .third-part-container .portfolio-works .box {
      width: 380px !important;
      height: 380px !important;
      background-color: #4e4e4e;
      position: relative;
      margin: 20px;
      box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1); }

  .third-part-container .portfolio-content .portfolio-works .box .to-works label {
    font-size: 16px !important; }

  .to-email {
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.3);
    width: auto !important;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; }
    .to-email label {
      font-family: "Roboto", sans-serif;
      font-size: 14px !important; }
    .to-email h1 {
      font-family: "Roboto", sans-serif;
      font-size: 20px !important;
      letter-spacing: 0px !important;
      font-weight: 700; } }
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .first-part-container {
    background: none !important;
    height: auto !important; }

  #navbar-container {
    display: none !important; }

  .navbar-mobile {
    display: flex !important;
    width: 100%;
    height: 70px;
    background-color: #FCFCFC;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 15; }
    .navbar-mobile .head {
      height: 100%;
      width: 100%; }
      .navbar-mobile .head img {
        margin: 3px 20px;
        width: 40px;
        position: fixed;
        top: 10px; }
    .navbar-mobile .nav-links {
      text-align: center;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0; }
      .navbar-mobile .nav-links ul {
        margin-bottom: 50px; }
      .navbar-mobile .nav-links li {
        margin-bottom: 25px; }
        .navbar-mobile .nav-links li a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0; }
          .navbar-mobile .nav-links li a:active {
            color: black; }
      .navbar-mobile .nav-links .infos {
        display: flex;
        flex-direction: column;
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        .navbar-mobile .nav-links .infos .br-line {
          width: 100%;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.3);
          margin: 10px 0px; }
        .navbar-mobile .nav-links .infos .other-info {
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: white;
          font-size: 12; }
        .navbar-mobile .nav-links .infos .info-child {
          text-align: left;
          margin: 0;
          padding: 5px 10px;
          box-sizing: border-box; }
          .navbar-mobile .nav-links .infos .info-child img {
            margin-right: 10px; }
          .navbar-mobile .nav-links .infos .info-child label {
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 1px; }

  .navbar-mobile-on {
    height: 100vh !important;
    background-color: #AA8ED8; }

  .home-content {
    display: none !important; }

  .home-mobile {
    display: block !important;
    margin-top: 80px; }
    .home-mobile img {
      position: relative;
      left: 50%;
      transform: translateX(-55%);
      margin: 100px 20px 30px 20px; }
    .home-mobile .section1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home-mobile .section1 label:nth-child(1) {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0;
        position: relative;
        top: 10px; }
      .home-mobile .section1 h1 {
        margin-bottom: 10px;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 48px;
        letter-spacing: 1px;
        position: relative;
        left: -3px; }
      .home-mobile .section1 label:nth-child(3) {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #4e4e4e;
        opacity: .7;
        position: relative;
        bottom: 10px; }
      .home-mobile .section1 button {
        border: none;
        border-radius: 6px;
        background-color: #A58BD6;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 15px 35px;
        box-sizing: border-box;
        transition: .25s ease-in-out;
        width: 300px;
        margin-top: 45px; }
        .home-mobile .section1 button a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 1px; }
        .home-mobile .section1 button:hover {
          background-color: #9079B7; }

  .second-part-container {
    display: none !important; }

  .about-content {
    display: none !important; }

  .about-mobile {
    display: block !important;
    position: relative !important;
    height: 600px !important; }
    .about-mobile .about-holder {
      width: 450px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
    .about-mobile section:nth-child(1) h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 0;
      margin-top: 50px; }
    .about-mobile section:nth-child(2) {
      margin-top: 25px; }
      .about-mobile section:nth-child(2) p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 36px;
        color: #4e4e4e;
        font-weight: 400;
        margin-bottom: 0; }
    .about-mobile .section3 {
      margin-top: 45px; }

  .stud {
    display: none !important; }

  .third-part-container {
    width: 100%;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }

  .to-email {
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.3);
    width: 440px !important;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; }
    .to-email label {
      font-family: "Roboto", sans-serif;
      font-size: 10px; }
    .to-email h1 {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      letter-spacing: 0px !important;
      font-weight: 700; } }
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .first-part-container {
    background: none !important;
    height: auto !important; }

  #navbar-container {
    display: none !important; }

  .navbar-mobile {
    display: flex !important;
    width: 100%;
    height: 70px;
    background-color: #FCFCFC;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 15; }
    .navbar-mobile .head {
      height: 100%;
      width: 100%; }
      .navbar-mobile .head img {
        margin: 3px 20px;
        width: 40px;
        position: fixed;
        top: 10px; }
    .navbar-mobile .nav-links {
      text-align: center;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0; }
      .navbar-mobile .nav-links ul {
        margin-bottom: 50px; }
      .navbar-mobile .nav-links li {
        margin-bottom: 25px; }
        .navbar-mobile .nav-links li a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0; }
          .navbar-mobile .nav-links li a:active {
            color: black; }
      .navbar-mobile .nav-links .infos {
        display: flex;
        flex-direction: column; }
        .navbar-mobile .nav-links .infos .br-line {
          width: 100%;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.3);
          margin: 10px 0px; }
        .navbar-mobile .nav-links .infos .other-info {
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
          margin: 0;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: white;
          font-size: 12; }
        .navbar-mobile .nav-links .infos .info-child {
          text-align: left;
          margin: 0;
          padding: 5px 10px;
          box-sizing: border-box; }
          .navbar-mobile .nav-links .infos .info-child img {
            margin-right: 10px; }
          .navbar-mobile .nav-links .infos .info-child label {
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 1px; }

  .navbar-mobile-on {
    height: 100vh !important;
    background-color: #AA8ED8; }

  .home-content {
    display: none !important; }

  .home-mobile {
    display: block !important;
    margin-top: 80px; }
    .home-mobile img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 100px 20px 30px 20px; }
    .home-mobile .section1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home-mobile .section1 label:nth-child(1) {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0;
        position: relative;
        top: 10px; }
      .home-mobile .section1 h1 {
        margin-bottom: 10px;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 48px;
        letter-spacing: 1px;
        position: relative;
        left: -3px; }
      .home-mobile .section1 label:nth-child(3) {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #4e4e4e;
        opacity: .7;
        position: relative;
        bottom: 10px; }
      .home-mobile .section1 button {
        border: none;
        border-radius: 6px;
        background-color: #A58BD6;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 15px 35px;
        box-sizing: border-box;
        transition: .25s ease-in-out;
        width: 300px;
        margin-top: 45px; }
        .home-mobile .section1 button a {
          text-decoration: none;
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 1px; }
        .home-mobile .section1 button:hover {
          background-color: #9079B7; }

  .second-part-container {
    display: none !important; }

  .about-content {
    display: none !important; }

  .about-mobile {
    display: block !important;
    position: relative !important;
    height: 600px !important; }
    .about-mobile .about-holder {
      width: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
    .about-mobile section:nth-child(1) h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 0;
      margin-top: 50px; }
    .about-mobile section:nth-child(2) {
      margin-top: 25px; }
      .about-mobile section:nth-child(2) p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 36px;
        color: #4e4e4e;
        font-weight: 400;
        margin-bottom: 0; }
    .about-mobile .section3 {
      margin-top: 45px; }

  .stud {
    display: none !important; }

  .third-part-container {
    width: 100%;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; } }
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
@media (min-width: 992px) and (max-width: 1247.98px) {
  .home-content .section-holder {
    position: absolute;
    left: 80% !important;
    z-index: 5 !important; }
  .home-content .right-content img {
    width: 400px !important;
    top: 30% !important;
    right: 0 !important; }
  .home-content .section2 label {
    letter-spacing: 0px !important; }

  .about-content .left-content1 img {
    width: 700px !important; }
  .about-content .about-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px !important; }
    .about-content .about-holder h1 {
      font-size: 48px !important; }
    .about-content .about-holder p {
      font-size: 16px !important; }

  .third-part-container {
    width: 100%;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; } }
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
@media (min-width: 1248px) and (max-width: 1871.98px) {
  .right-content img {
    width: 700px !important;
    top: 15% !important; }

  .third-part-container {
    width: 100%;
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; } }
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/

/*# sourceMappingURL=main.css.map */
